<div [ngClass]="{start:true, show: czyNieGramy}">
    <h1 class="text1">Welcome to the <br/> CloudsGame!</h1>
    <img src="/assets/owce.png" alt="" (click)="startGry()">
    <h2>Press the clouds to start</h2>
    <h4 class="white" style="margin:0px;">You have two minutes to catch <br /> as many clouds as you can</h4>
   

   
    <div >
        <label for="#nick"></label>
            <p [hidden]="nickname != '' "></p>
            <input type="text" class="margin: 0px;" id="nick" [(ngModel)]="nickname" required >
            <h1 style="margin:0px;">START</h1>
       
          
    </div> 
  
</div>>
